<section class="banner">

    <div class="banner-slide active">
        <img src="/assets/images/hero.jpg" alt="IESTP Huanta">
    </div>

    <div class="banner-slide">
        <img src="/assets/images/hero2.jpg" alt="IESTP Huanta">
    </div>

    <div class="banner-content">

        <span class="banner-label">
            INSTITUTO DE EDUCACIÓN SUPERIOR PÚBLICO “HUANTA”
        </span>

        <h1>
            Construye tu futuro con<br>
            formación de calidad
        </h1>

        <p>
            El Instituto de Educación Superior Público Huanta se enorgullece
            de ser un instituto licenciado, lo que garantiza la calidad de
            nuestros programas académicos.
        </p>

    </div>


    <div class="banner-dots">
        <span class="banner-dot active"></span>
        <span class="banner-dot"></span>
    </div>

</section>